body {
  background: #70ABE5;
  color: #333;
  font: 8px/95% Verdana, Geneva, Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}
img {
  height: auto !important;
  max-width: 25em !important;
}
h1, h2, h3, h4, h5, h6 {
  color: #336699;   
  margin: 0;
  padding: 0; 
}
.node h1, .node h2, .node h3, .node h4, .node h5, .node h6 {
  color: #40b4c4;
}
h1 {
  font-size: 1.5em;
  width: 95%;
}
h2 {
  font-size: 1.375em;
  width: 95%;
}
h3, h4, h5, h6 {
  font-size: 1.25em;
}
ul, quote, code, fieldset {
  margin: 0.625em 0;
}
table {
  margin: 0.625em 0;
}
thead th {
  border-bottom: 0.25em solid #40b4c4;
  color: #000;
  font-weight: bold;
}
th a:link, th a:visited {
  color: #369;
}
td, th {
  padding: 0.25em 0.375em;
}
tr.even, tr.odd, tbody th {
  border: solid #40b4c4;
  border-width: 0.125em 0;
}
tbody {
  border-top: none;
}
tr.odd, tr.info {
  background-color: #edf5fa;
}
tr.even {
  background-color: #fff;
}
tr.drag {
  background-color: #fffff0;
}
tr.drag-previous {
  background-color: #ffd;
}
tr.odd td.active {
  background-color: #ddecf5;
}
tr.even td.active {
  background-color: #e6f1f7;
}
td.region, td.module, td.container, td.category {
  border-top: 0.25em solid #fff;
  border-bottom: 0.125em solid #b4d7f0;
  background-color: #d4e7f3;
  color: #455067;
  font-weight: bold;
}
p {
  margin: 0.625em 0 0.625em;
  padding: 0;
}
a, a:link {
  color: #336699; 
}
a:hover {
  color: #40b4c4; 
}
a:active, a:focus {
  color: #333;  
}
hr {
  background: #40b4c4;
  border: none;
  height: 0.25em;
  margin: 0;
  padding: 0;
}
input, fieldset {
  border: 0.125em solid #40b4c4;
  padding: 0.625em;
}
.form-text {
  padding: 0.625em 0.75em;
  width: 70%;
}
.form-item, textarea {
  width: 70%;
}
.form-item label {
  display: block;
}
fieldset .collapsible {
  margin-bottom: 0.625em;
}
.form-submit {
  background: #40b4c4;
  border:0.125em solid #369;
  color: #fff;
  font-weight: bold;
  margin-top: 0.625em;
  padding: 0.25em;
}
tr.info {
  background: #40b4c4;
}
#contentcontainer ul li {
  list-style-image: url("images/list-item.gif");
}
#top {
  background: #333;
  border-bottom: 0.25em solid #fff;
  margin: 0;
  padding: 0;
}
#top #topmenu {
  clear: both;
  height: 1.875em;
  margin: 0;
  width: 95%;
}
#header {
  clear: both;
  color: #333;
  vertical-align: middle;
}
#header h1 {
  clear: left;
  font-family: 'Lobster', arial, serif;
  width: auto;
}
#header a {
  color: #369;
  text-decoration: none;
}
#header #headertitle {
  float: left;
  margin: 0;
  padding: 0;
}
#header #headertitle a {
  display: block;
  font-size: 2em;
  line-height: normal;
  margin-left: 0.15em;
  margin-top: 0.15em;
}
#header #logo {
  float: right;
  margin-right: 1.25em;
  margin-bottom: 0.625em;
  margin-top: 0.625em;
  text-align: right;
}
#header #logo img {
  border: none;
  height: auto !important;
  max-width: 6.25em !important;
}
#header .site-slogan {
  color: #000;
  clear: left;
  float: left;
  font-size: 1em;
  margin: 0.625em 0 1.25em 0.625em;
}
.region-header-block {
  clear: both;
  float: left;
  margin-left: 0.625em;
  margin-bottom: 1.25em;
  width: 98%;
}
.region-header-block label {
  font-weight: bold;
}
.region-header-block input.form-text {
  float: left;
  margin-top: 0.25em;
  width: 70%;
}
.region-header-block .form-submit {
  float: left;
  margin-left: 0.625em;
}
/******************* PRIMARY MENU (TOP) *******************************************/
#top #topmenu ul.menu {
  margin: 0;
  padding: 0;
}
#top #topmenu ul.menu li {
  float: left;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  width:  auto;   
}
#top #topmenu ul.menu li a {
  color: #fff;
  display: block;
  margin: 0;
  padding: 0.5em 1.25em; 
  text-decoration: none;
}
#top #topmenu ul.menu li a.active, #top #topmenu ul.menu li.active-trail {
  background: #70ABE5;
  color: #fff;  
}

/*************************************************************************************/
#submenu {
  background: #333;
  border-bottom:0.25em solid #fff;
  clear: both;
  height: 1.875em;
  margin: 0;
  padding: 0;
  width: 100%;
}
#submenu ul {
  clear: both;
  float: left;
  margin: 0;
  padding: 0;
}
#submenu ul li {
  float: left;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  width:  auto;   
}
#submenu ul li a {
  color: #fff;
  display: block;
  margin: 0;
  padding: 0.5em 1.25em; 
  text-decoration: none;
}
#submenu ul li a.active, #submenu ul li.active-trail {
  background: #70ABE5;
  color: #fff;  
}
#contentcontainer {
  clear: both;
  float: left;
  margin: 0 auto;
  width: 95%;
}
#contentcontainer h2 a {
  color: #40b4c4;
  text-decoration: none;
}
#messagebox {
  clear: both;
  margin: 1.25em auto;
  padding: 0.625em; 
}
#container {
  padding-bottom: 1.25em;
}
#contentcontainer #contentleft #page {
  background: url("images/bg-transparant.png") repeat;
  background-repeat: repeat;
  clear: both;
  float: left;
  margin: 0 0.625em;
  padding: 0.625em; 
  width: 98%; 
}
#contentcontainer #contentleft .node {
  background: #fff;
  border:0.375em solid #40b4c4;
  clear: both;
  float: left;
  margin: 0.75em 0 0;
  padding: 1.25em;
  width: 90%;
}
#contentcontainer #contentleft #mission {
  background: #40b4c4;
  color: #fff;
  font-weight: bold;
  margin: 0;
  padding: 1.25em;
}
#contentcontainer #contentleft #mission p {
  margin: 0;
  padding: 0;
}
#contentcontainer #contentleft #mission a {
  color: #fff;
  text-decoration: underline;
}
#contentcontainer #contentleft #mission a:hover {
  text-decoration: none;
}
#contentcontainer #footer {
  clear: both;
  margin-left: 0.625em;
  padding: 0;
  padding-top: 1.25em;
}
#contentcontainer #footer .block {
  background: url("images/bg-transparant.png") repeat;
  background-repeat: repeat; 
  clear: none; 
  margin-bottom: 1.25em;
  margin-top: 1.25em;
  padding: 1em;
  width: 94%;
}
#contentcontainer #footer .block h2 {
  background: #40b4c4;
  border: 0.375em solid #40b4c4;
  color: #fff;
  font-size: 120%;
  margin-bottom: 0.625em;
  padding: 0.625em;
  width: auto;
}
#contentcontainer #footer .block .content {
  background: #fff;
  border:0.375em solid #40b4c4;
  padding: 0.625em; 
}
#bottompage {
  clear: both;
  height: 11.25em;
  margin: 0;
  padding: 0;
  width: 95%;
}
#bottompage #skyline {
  background-image: url("images/bg-footer.gif");
  background-repeat: repeat-x;
  height: 11.25em;
	width: 100%;
}
.options {
  margin-bottom: 1.25em;
}
.tabs {
  margin: 10px 0;
}
ul.tabs {
  border: none;
  margin-bottom: 1.25em;
}
ul.tabs li a, ul.tabs li a:hover, ul.tabs li.active a {
  background: none;
  border: none;
  color: #fff;
}
ul.tabs li {
  background: #336699;
  border:0.125em solid #333;
  color: #fff;
  font-weight: bold;
  margin-bottom: 0.625em;
  padding: 0.625em; 
}
ul.tabs li:hover, ul.tabs li.active {
  background: #40b4c4;
  border: 0.125em solid #333;
}
#messagebox .status, #messagebox .warning {
  background: #40b4c4;
  border: 0.375em solid #369;
  color: #333;
  font-weight: bold;
}
#messagebox .warning {
  background: #ffffca;  
}
#messagebox .messages {
  margin-bottom: 0.625em;
  padding: 0.625em 5.2em;
}
#messagebox a:hover {
  color :#fff;
}
.poll .bar .foreground {
  background-color: #40b4c4;
}
#contentcontainer .pager {
  text-align: center;
}
#contentcontainer .pager li {
  font-size: 1em;
  float: left;
  list-style: none;
  list-style-image: none;
  margin: 0 0 0.625em 0;
  padding: 0;
}
ul.pager li.active {
  padding: 0.375em;
}
#page .item-list .pager li, #page .item-list .pager li a {
  margin: 0.25em 0 0;
}
#page .item-list {
  float: left;
  margin-top: 1em;
}
#page .item-list ul {
  float: left;
  margin: 0;
  padding: 0;
}
#page .item-list .pager li {
  margin: 0 0.25em;
  padding: 0;
}
ul.pager li a {
  background: #40b4c4;
  color: #fff;
  font-weight: bold;
  margin-bottom: 0.625em;
  padding: 0.25em;
  text-decoration: none;
}
ul.pager li.pager-current, ul.pager li a:hover {
  background: #369;
  color: #fff;
  font-weight: bold; 
  padding: 0.25em;  
  text-decoration: none;  
}
div.links {
  float: right;
  margin: 1.25em 0;
}
div.links ul.links {
  width: 100%;
}
div.links ul.links li a, .more-link a {
  background: #40b4c4;
  color: #fff;
  font-weight: bold;
  margin: 0 0 .25em 0;
  padding: 0.25em;
  text-decoration: none;
}
.more-link {
  margin: 0.625em 0;
}
div.links ul.links {
  float: left;
  text-align: right;
}
div.links ul.links li a:hover, .more-link a:hover {
  background: #369;
}
#contentcontainer div.links ul.links li {
  display: block;
  float: right;
  list-style: none;
  list-style-image: none;
  margin: 0 0.625em;
  padding: 0;
}
div.links ul.links li.addtoany {
  float: left;
  margin: 0 1.25em;
  padding: 0;
}
div.links ul.links li.addtoany a {
  background: none;
  margin: 0;
  padding: 0;
}
.date {
  clear: none;
  color: #40b4c4;
  float: right;
  font-weight: bold;
  font-size: 1em;
  padding: 0;
  text-align: center;
  width: 6.25em;
}
.terms {
  float: none;
  font-weight: bold;
}
.field-name-field-tags {
  font-weight: bold;
  float: none;
}
.field-name-field-tags .field-label {
  float: left;
}
.field-name-field-tags .field-items, .field-name-field-tags .field-items div {
  float: left;
  margin-right: 10px;
}
#contentcontainer .terms span.tags {
  display: block;
  float: left;
}
#contentcontainer .terms ul.links {
  float: left;
  margin: 0;
  padding: 0;
}
#contentcontainer .terms ul.links li {
  float: left;
  list-style: none;
  list-style-image: none;
  padding: 0;
}
span.submitted {
  font-style: oblique;
  font-size: 0.75em;
}
#comments {
  clear: both;
  float: left;
  width: 94%;
}
#comments h2.comments {
  margin: 0;
  padding: 1.25em;
}
.comment {
  background: #fff;
  border: 0.25em solid #40b4c4;
  clear: both;
  float: left;
  margin-bottom: 1.25em;
  padding: 0.625em 1.25em 1.25em;
	width: 95%;
}
.node .content, .comment .content {
  margin: 0.6em 0;
}
#comments .date {
  background: #fff;
  border:0.25em solid #40b4c4;
  color: #40b4c4;
  clear: none;
  font-weight: bold;
  line-height: 1.5em;
  margin-left: -6em;
  margin-top: 0px;
  padding: 0.625em;
  text-align: center;
  width: 3.75em; 
}
#comments h2.comment-form, #comments form#comment-form {
	clear: both;
	float: left;
}
.new {
  color: #f00;
}
#tabs-wrapper ul {
  clear: both;
}
#tabs-wrapper ul, #tabs-wrapper li {
}
#imce-content {
  background: #eee;
}
.picture {
  float: left;
  margin: 0 0.625em 0.625em;
}
#userpicture img {
  border: none;
  clear: left;
  float: left;
  height: auto;
  margin-right: 1.25em;
  margin-bottom: 1.25em;
  width: auto; 
}
#commentcontent {
  float: left;
  clear: right;
  height: auto;
  max-width: 56.25em;
}
.comment ul.links {
  clear: left;
}
.comment span.submitted {
}
blockquote {
  background: #eee;
  border-left: 0.25em solid #40b4c4;
  padding: 0.625em;
}
#contentcontainer .view-tweets ul li {
  list-style-image: url("images/twitter-list-item.png");
  margin-left: 1.625em;
  margin-top: 0.625em;
}
.feedicons {
  clear: both;
  float: left;
  margin: 1.25em 0;
}
.feedicons img {
  border: none;
}
#overlay #top, #overlay #header, #overlay #bottompage, #overlay #submenu {
  display: none;
}
#overlay-disable-message {
  display: none;
}