body {
  background: #70ABE5;
  color: #333;
  font: 8px Verdana, Geneva, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  color: #336699;   
  margin: 0;
  padding: 0; 
}
.node h1, .node h2, .node h3, .node h4, .node h5, .node h6 {
  color: #40b4c4;
}
h1 {
  font-size: 2px;
  width: 100%;
}
h2 {
  font-size: 11px;
  width: 100%;
}
h3, h4, h5, h6 {
  font-size: 10px;
}
ul, quote, code, fieldset {
  margin: 5px 0;
}
table {
  margin: 5px 0;
  width: 100%;
}
thead th {
  border-bottom: 2px solid #40b4c4;
  color: #000;
  font-weight: bold;
}
th a:link, th a:visited {
  color: #369;
}
td, th {
  padding: 2px 3px;
}
tr.even, tr.odd, tbody th {
  border: solid #40b4c4;
  border-width: 1px 0;
}
tbody {
  border-top: none;
}
tr.odd, tr.info {
  background-color: #edf5fa;
}
tr.even {
  background-color: #fff;
}
tr.drag {
  background-color: #fffff0;
}
tr.drag-previous {
  background-color: #ffd;
}
tr.odd td.active {
  background-color: #ddecf5;
}
tr.even td.active {
  background-color: #e6f1f7;
}
td.region, td.module, td.container, td.category {
  border-top: 2px solid #fff;
  border-bottom: 1px solid #b4d7f0;
  background-color: #d4e7f3;
  color: #455067;
  font-weight: bold;
}
p {
  margin: 5px 0 5px;
  padding: 0;
}
a, a:link {
  color: #336699; 
}
a:hover {
  color: #40b4c4; 
}
a:active, a:focus {
  color: #333;  
}
hr {
  background: #40b4c4;
  border: none;
  height: 2px;
  margin: 0;
  padding: 0;
}
input, fieldset {
  border: 1px solid #40b4c4;
  padding: 5px;
}
.form-text {
  padding: 5px 6px;
  width: 80%;
}
.form-item, textarea {
  width: 80%;
}
.form-item label {
  display: block;
}
fieldset .collapsible {
  margin-bottom: 5px;
}
.form-submit {
  background: #40b4c4;
  border: 1px solid #369;
  color: #fff;
  font-weight: bold;
  margin-top: 5px;
  padding: 2px;
}
tr.info {
  background: #40b4c4;
}
#contentcontainer ul li {
  margin-left: 5px;
  list-style-image: url("images/list-item.gif");
}
#top {
  background: #333;
  border-bottom: 2px solid #fff;
  margin: 0;
  padding: 0;
}
#top #topmenu {
  height: 18px;
  margin: 0;
  width: 100%;
}
#header {
  clear: both;
  color: #333;
  vertical-align: middle;
}
#header h1 {
  clear: left;
  font-family: 'Lobster', arial, serif;
  width: auto;
}
#header a {
  color: #369;
  text-decoration: none;
}
#header #headertitle {
  float: left;
}
#header #headertitle a {
  display: block;
  font-size: 24px;
  line-height: normal;
  margin-left: 5px;
  margin-top: 5px;
}
#header #logo {
  float: right;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: right;
}
#header #logo img {
  border: none;
  max-width: 50px;
  max-height: 50px;
}
#header .site-slogan {
  color: #000;
  clear: left;
  float: left;
  font-size: 8px;
  margin: 5px 0px 10px 5px;
}
#search {
  clear: both;
  float: left;
  margin-left: 5px;
  margin-bottom: 10px;
  width: 90%;
}
#search label {
  font-weight: bold;
}
#search input.form-text {
  float: left;
  margin-top: 2px;
  width: 70%;
}
#search .form-submit {
  float: left;
  margin-left: 5px;
}
/******************* PRIMARY MENU (TOP) *******************************************/
#top #topmenu ul.menu {
  margin: 0;
  padding: 0;
}
#top #topmenu ul.menu li {
  float: left;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  width:  auto;   
}
#top #topmenu ul.menu li a {
  color: #fff;
  display: block;
  margin: 0;
  padding: 4px 10px; 
  text-decoration: none;
}
#top #topmenu ul.menu li a.active, #top #topmenu ul.menu li.active-trail {
  background: #40b4c4;
  color: #fff;  
}

/*************************************************************************************/
#submenu {
  background: #333;
  border-bottom: 2px solid #fff;
  height: 18px;
  margin: 0;
  padding: 0;
  width: 100%;
}
#submenu ul {
  clear: both;
  float: left;
  margin: 0;
  padding: 0;
}
#submenu ul li {
  float: left;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  width:  auto;   
}
#submenu ul li a {
  color: #fff;
  display: block;
  margin: 0;
  padding: 4px 10px; 
  text-decoration: none;
}
#submenu ul li a.active, #submenu ul li.active-trail {
  background: #40b4c4;
  color: #fff;  
}
#contentcontainer {
  margin: 0 auto;
  width: 100%;
}
#contentcontainer h2 a {
  color: #40b4c4;
  text-decoration: none;
}
#messagebox {
  clear: both;
  margin: 10px auto;
  padding: 5px; 
}
#container {
  padding-bottom: 10px;
}
#contentcontainer #contentleft #page {
  background: url("images/bg-transparant.png") repeat;
  background-repeat: repeat;
  clear: both;
  float: left;
  margin: 0 5px;
  padding: 5px; 
  width: 94%; 
}
#contentcontainer #contentleft .node {
  background: #fff;
  border: 3px solid #40b4c4;
  clear: both;
  float: left;
  margin-bottom: 20px; 
  padding: 10px;
  width: 90%;
}
#contentcontainer #contentleft .node img {
  max-width: 250px;
}
#contentcontainer #contentleft #mission {
  background: #40b4c4;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
}
#contentcontainer #contentleft #mission p {
  margin: 0;
  padding: 0;
}
#contentcontainer #contentleft #mission a {
  color: #fff;
  text-decoration: underline;
}
#contentcontainer #contentleft #mission a:hover {
  text-decoration: none;
}
#contentcontainer #footer {
  clear: both;
  margin-left: 5px;
  padding: 0;
  padding-top: 10px;
}
#contentcontainer #footer .block {
  background: url("images/bg-transparant.png") repeat;
  background-repeat: repeat; 
  clear: none; 
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 8px;
  width: 94%;
}
#contentcontainer #footer .block h2 {
  background: #40b4c4;
  border: 3px solid #40b4c4;
  color: #fff;
  font-size: 120%;
  margin-bottom: 5px;
  padding: 5px;
  width: auto;
}
#contentcontainer #footer .block .content {
  background: #fff;
  border: 3px solid #40b4c4;
  padding: 5px; 
}
#bottompage {
  clear: both;
  height: 110px;
  margin: 0;
  padding: 0;
  width: 100%;
}
#bottompage #skyline {
  background-image: url("images/bg-footer.gif");
  background-repeat: repeat-x;
  height: 90px;
}
#bottompage #bottomtext {
  background-color: #336699;
  color: #fff;
  height: 20px;
  margin: 0;
  padding: 7px 0 0 0;
  text-align: center;
}
#bottompage #bottomtext a {
  color: #fff;
}
#bottompage #bottomtext a:hover {
  text-decoration: none;
}
.options {
  margin-bottom: 10px;
}
ul.tabs {
  border: none;
  margin-bottom: 10px;
}
ul.tabs li a, ul.tabs li a:hover, ul.tabs li.active a {
  background: none;
  border: none;
  color: #fff;
}
ul.tabs li {
  background: #336699;
  border: 1px solid #333;
  color: #fff;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 5px; 
}
ul.tabs li:hover, ul.tabs li.active {
  background: #40b4c4;
  border: 1px solid #333;
}
#messagebox .status, #messagebox .warning {
  background: #40b4c4;
  border: 3px solid #369;
  color: #333;
  font-weight: bold;
}
#messagebox .warning {
  background: #ffffca;  
}
#messagebox .messages {
  margin-bottom: 5px;
  padding: 5px;
}
#messagebox a:hover {
  color :#fff;
}
.poll .bar .foreground {
  background-color: #40b4c4;
}
#contentcontainer .pager {
  text-align: center;
}
#contentcontainer .pager li {
  font-size: 8px;
  float: left;
  list-style: none;
  list-style-image: none;
  margin: 0 0 5px 0;
  padding: 0;
}
ul.pager li.active {
  padding: 3px;
}
#page .item-list .pager li, #page .item-list .pager li a {
  margin: 0 2px 0 0;
}
#page .item-list {
  float: left;
}
#page .item-list ul {
  float: left;
  margin: 0;
  padding: 0;
}
#page .item-list .pager li {
  padding: 0;
}
ul.pager li a {
  background: #40b4c4;
  color: #fff;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 2px;
  text-decoration: none;
}
ul.pager li.pager-current, ul.pager li a:hover {
  background: #369;
  color: #fff;
  font-weight: bold; 
  padding: 2px;  
  text-decoration: none;  
}
div.links {
  float: right;
  margin: 10px 0;
}
div.links ul.links li a, .more-link a {
  background: #40b4c4;
  color: #fff;
  font-weight: bold;
  margin:0;
  padding: 2px;
  text-decoration: none;
}
.more-link {
  margin: 5px 0;
}
div.links ul.links {
  float: left;
  text-align: right;
}
div.links ul.links li a:hover, .more-link a:hover {
  background: #369;
}
#contentcontainer div.links ul.links li {
  display: block;
  float: right;
  list-style: none;
  list-style-image: none;
  margin: 0 5px;
  padding: 0;
}
div.links ul.links li.addtoany {
  float: left;
  margin: 0 10px;
  padding: 0;
}
div.links ul.links li.addtoany a {
  background: none;
  margin: 0;
  padding: 0;
}
.date {
  clear: none;
  color: #40b4c4;
  float: right;
  font-weight: bold;
  font-size: 8px;
  padding: 0;
  text-align: center;
  width: 50px;
}
.terms {
  float: none;
  font-weight: bold;
}
#contentcontainer .terms span.tags {
  display: block;
  float: left;
}
#contentcontainer .terms ul.links {
  float: left;
  margin: 0;
  padding: 0;
}
#contentcontainer .terms ul.links li {
  float: left;
  list-style: none;
  list-style-image: none;
  padding: 0;
}
span.submitted {
  font-style: oblique;
  font-size: 6px;
}
#comments {
  clear: both;
  float: left;
  width: 94%;
}
#comments h2.comments {
  margin: 0;
  padding: 10px;
}
.comment {
  background: #fff;
  border: 2px solid #40b4c4;
  clear: both;
  float: left;
  margin-bottom: 10px;
  padding: 5px 10px 10px;
}
.node .content, .comment .content {
  margin: 0.6em 0;
}
#comments .date {
  background: #fff;
  border: 2px solid #40b4c4;
  color: #40b4c4;
  clear: none;
  font-weight: bold;
  line-height: 12px;
  margin-left: -48px;
  margin-top: 0px;
  padding: 5px;
  text-align: center;
  width: 30px; 
}
.new {
  color: #f00;
}
#tabs-wrapper ul {
  clear: both;
}
#tabs-wrapper ul, #tabs-wrapper li {
}
#imce-content {
  background: #eee;
}
.picture {
  float: left;
  margin: 0 5px 5px;
}
#userpicture img {
  border: none;
  clear: left;
  float: left;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  width: auto; 
}
#commentcontent {
  float: left;
  clear: right;
  height: auto;
  max-width: 450px;
}
.comment ul.links {
  clear: left;
}
.comment span.submitted {
}
blockquote {
  background: #eee;
  border-left: 2px solid #40b4c4;
  padding: 5px;
}
#contentcontainer .view-tweets ul li {
  list-style-image: url("images/twitter-list-item.png");
  margin-left: 13px;
  margin-top: 5px;
}
.feedicons {
  clear: both;
  float: left;
  margin: 10px 0;
}
.feedicons img {
  border: none;
}
